<h1>{{title}}</h1>
<form>
    <!--Para que el two way binding funcione hay que además agregar el atributo name al input-->
    <label>Operando 1 <input type="number" [(ngModel)]="numero1" name="numero1"></label>
    <br>
    <br>
    <label>Operando 2 <input type="number" [(ngModel)]="numero2" name="numero2"></label>
    <br>
    <br>
    <input type="button" value="Sumar" (click)="sumar()">
    <input type="button" value="Restar" (click)="restar()">
    <input type="button" value="Dividir" (click)="dividir()">
    <input type="button" value="Multiplicar" (click)="multiplicar()">
    <br>
    <br>
    Resultado: <span>{{resultado}}</span>
</form>

