<h1>{{title}}</h1>
<br>
<br>
<form>
  <label for="nombre">Nombre: </label><input type="text" id="nombre" required [(ngModel)]="nombre" name="nombre">
  <br>
  <br>
  <label for="apellido">Apellido: </label><input id="apellido" type="text" required [(ngModel)]="apellido" name="apellido">
  <br>
  <br>
  <label for="cargo">Cargo: </label><input id="cargo" type="text" required [(ngModel)]="cargo" name="cargo">
  <br>
  <br>
  <input type="button" value="Registrarse" (click)="registrarse()">
  <br>
  <br>
</form>
<!--
Si la condicion se cumple, entonces se crea el elemento.
registrado es un booleano.
-->
<p *ngIf="registrado else noRegistrado">
    {{textoRegistro}} 

    <!--ngStyle: para estilos en linea condicionales ||  ngClass para clases css condicionales-->

    <span [ngClass]="{kiwiClass : nombre == 'kiwi', polloClass : nombre == 'pollo'}" >{{nombre}} {{apellido}}</span>  <!--Se pueden definir una o varias clases css, con sus respectivas condiciones-->

    con el cargo de: <span [ngStyle]="{color: cargo == 'ceo' ? 'red' : 'black' }">{{cargo}}</span> 
</p>


<!--
ngFor: recorre una lista o array. Podemos adicionalmente utilizar el indice
-->

<ul>
  <li *ngFor="let entrada of entradasBlog; let indice=index"> {{indice+1}} {{entrada.titulo}}</li>
</ul>


<!--
ng-template es una plantilla que no se renderiza por defecto. Todos los elementos que estén dentro tampoco se renderizarán.

En este ejemplo, le defininos una variable de referencia (#) para que pueda ser referenciado.

En el párrafo de arriba le agregamos un else a la expresión de *ngIf. Aquí en caso de que la condición del if sea falsa se renderizará el template indicado después del else
-->
<ng-template #noRegistrado>
  <p>Usuario no registrado.</p>
</ng-template>